<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="/images/profilepic.jpg" class="img-responsive" alt="image">
        </div>
        <div class="col-sm-4">
            <h1>This is About Page</h1>
            <p>About me</p>
        </div>
    </div>
    
</div>
